.delivery {
    &__number {
        background: red;
        width: 64px;
        height: 64px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        border-radius: 100%;
        font-weight: bold;
    }

    &__text {
        margin-left: 20px;
        font-size: 18px;
        flex: 1;
        color: #000;
        font-weight: 600;

        & span {
            color: var(--primary);
            font-weight:bold;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include respond('phone-land'){
		&__number {
            width: 48px;
            height: 48px;
            font-size: 28px;
        }

        &__text {
            font-size: 16px;
            margin-left: 16px;
        }
	}
}