.delivery-locations {

	&__container {
		display: flex;
		justify-content: center;
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	&_left {
		align-items: flex-end;
		text-align: right;

		.delivery-locations__icon {
			margin-left: 16px;
		}
	}

	&_right {
		align-items: flex-start;
		text-align: left;

		.delivery-locations__icon {
			margin-right: 16px;
		}
		
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__icon {

		width:80px;
		height:80px;

		& img {
			height:100%;
			width:100%;
			object-fit: contain;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 20px;
		color: #000;
		flex: 1;
		line-height: 1.3;
	}
}