@charset "UTF-8";
@font-face {
  font-family: "flaticon_swigo";
  src: url("./flaticon_swigo.ttf?64497de560921368cd586e6c5ea1ea6e") format("truetype"), url("./flaticon_swigo.woff?64497de560921368cd586e6c5ea1ea6e") format("woff"), url("./flaticon_swigo.woff2?64497de560921368cd586e6c5ea1ea6e") format("woff2"), url("./flaticon_swigo.eot?64497de560921368cd586e6c5ea1ea6e#iefix") format("embedded-opentype"), url("./flaticon_swigo.svg?64497de560921368cd586e6c5ea1ea6e#flaticon_swigo") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon_swigo !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-wine:before {
  content: "";
}

.flaticon-mirror-ball:before {
  content: "";
}

.flaticon-party:before {
  content: "";
}

.flaticon-play-button:before {
  content: "";
}

.flaticon-restaurant:before {
  content: "";
}

.flaticon-coffee-cup:before {
  content: "";
}

.flaticon-dessert:before {
  content: "";
}

.flaticon-cake:before {
  content: "";
}

.flaticon-email:before {
  content: "";
}

.flaticon-telephone:before {
  content: "";
}

.flaticon-placeholder:before {
  content: "";
}

.flaticon-share:before {
  content: "";
}

.flaticon-right-quote:before {
  content: "";
}

.flaticon-user:before {
  content: "";
}

.flaticon-phone-call:before {
  content: "";
}

.flaticon-email-1:before {
  content: "";
}

.flaticon-two-people:before {
  content: "";
}

.flaticon-calendar-date:before {
  content: "";
}

.flaticon-clock:before {
  content: "";
}

.flaticon-shopping-cart:before {
  content: "";
}

.flaticon-offer:before {
  content: "";
}

.flaticon-hamburger:before {
  content: "";
}

.flaticon-room-service:before {
  content: "";
}

.flaticon-martini:before {
  content: "";
}

.flaticon-burger:before {
  content: "";
}

.flaticon-fast-food:before {
  content: "";
}

.flaticon-pizza-slice:before {
  content: "";
}

.flaticon-salad:before {
  content: "";
}

.flaticon-cupcake:before {
  content: "";
}

.flaticon-chili-pepper:before {
  content: "";
}

.flaticon-hamburger-1:before {
  content: "";
}

.flaticon-fast-delivery:before {
  content: "";
}

.flaticon-clock-1:before {
  content: "";
}

.flaticon-chef:before {
  content: "";
}

.flaticon-pot:before {
  content: "";
}

.flaticon-juice:before {
  content: "";
}

.flaticon-burger-1:before {
  content: "";
}

.flaticon-pizza:before {
  content: "";
}

.flaticon-cake-slice:before {
  content: "";
}

.flaticon-pizza-box:before {
  content: "";
}

.flaticon-vegetable:before {
  content: "";
}

.flaticon-chef-hat:before {
  content: "";
}

.flaticon-cocktail:before {
  content: "";
}

.flaticon-cuisine:before {
  content: "";
}

.flaticon-support:before {
  content: "";
}

.flaticon-dinner-table:before {
  content: "";
}

.flaticon-token:before {
  content: "";
}

.flaticon-furniture:before {
  content: "";
}

.flaticon-team:before {
  content: "";
}

.flaticon-scooter:before {
  content: "";
}

.flaticon-shopping-bag:before {
  content: "";
}

.flaticon-shopping-bag-1:before {
  content: "";
}

.flaticon-chat-bubble:before {
  content: "";
}
