.partners {
    &__img {
        height: 400px;

        & img {
            height: 100% !important;
            width: 100% !important;
            object-fit: cover;
            object-position: top;
        }
    }
}