//dz-tabs
.nav-tabs{
	margin: 0 -5px 25px;
	border-bottom: none;
	li{
		color:#fff;
		margin: 0 5px 5px;
		border-radius: 6px;
		button{
			i{
				font-family: 'feather' !important;
				font-style: normal;
				text-transform: none;
				vertical-align:middle;
			}
			&:active{
				background-color:var(--primary-hover);
			}
		}
	}
}

// Tabs style 1
.tabs-style-1{
	margin: 0 0 30px;
	padding: 0px 16px;

	li{
		margin: 0 10px 0px 0;
	}
	.nav-link{
		border: none;
		color: var(--title);
		border-radius: 6px;
		outline: none;

		& i {
			font-size: 26px;
		}

		& span {
			font-weight: 500;
		}
		
		&.active,
		&:hover,
		&:active,
		&:focus{
			color: #fff;
			background: var(--primary);
		}
	}
}
